/* stylelint-disable selector-list-comma-newline-after */

html, body {
  font-family: 'David Libre', serif;
  font-size: 1.1rem;
  line-height: 1.4rem;
  color: #511D44;
}

.start {
  font-size: 1.2rem;
  line-height: 1.6rem;
  margin-bottom: 1rem;
}

.start p:first-child:first-letter {
  font-size: 300%;
  display: block;
  font-weight: bold;
  padding-top: 6px;
  padding-right: 10px;
  float: left;
}

.blog-header {
  line-height: 1;
  border-bottom: 1px solid #e5e5e5;
}

.blog-header-logo {
  font-family: 'Rubik', sans-serif;
  font-size: 2.25rem;
}

.blog-header-logo:hover {
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Secular One', sans-serif;
  color: #511D44;
}

h2, h3, h4, h5, h6 {
  margin-top: 2rem;
}

h5 {
  margin-top: 1rem;
}

a {
  font-weight: bold;
  color: #511D44;
}
.zoom {
   transition: all 0.25s ease;
}

.zoom:hover {
  transform: scale(1.05);
}

.display-4 {
  font-size: 2.5rem;
}
@media (min-width: 768px) {
  .display-4 {
    font-size: 3rem;
  }
}

.nav-scroller {
  position: relative;
  z-index: 2;
  height: 3rem;
  overflow-y: hidden;
}

.nav-scroller a {
  display: block;
  float: left;
  margin-left: 30px;
  margin-top: 10px;
  font-family: 'Secular One', sans-serif;
  font-size: 2rem;
}

.nav-scroller a img {
  max-height: 2.7rem;
}

.nav-scroller .nav {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  padding-bottom: 1rem;
  margin-top: -1px;
  overflow-x: auto;
  text-align: center;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}

.nav-scroller .nav a {
  color: #511D44;
}

.nav-scroller .nav-link {
  padding-top: .75rem;
  padding-bottom: .75rem;
  font-size: .875rem;
}

.card-img-right {
  height: 100%;
  border-radius: 0;
}

.card-img-top {
  border-radius: 0;
}

.flex-auto {
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}

.h-250 { height: 250px; }
@media (min-width: 768px) {
  .h-md-250 { height: 250px; }
}

/*
 * Blog name and description
 */
.blog-title {
  margin-bottom: 0;
  font-size: 2rem;
  font-weight: 400;
}
.blog-description {
  font-size: 1.1rem;
  color: #999;
}

@media (min-width: 40em) {
  .blog-title {
    font-size: 3.5rem;
  }
}

/* Pagination */
.blog-pagination {
  margin-bottom: 4rem;
}
.blog-pagination > .btn {
  border-radius: 2rem;
}

/*
 * Blog posts
 */
.blog-post {
  margin-bottom: 4rem;
}
.blog-post-title {
  margin-bottom: .25rem;
  font-size: 2.5rem;
}
.blog-post-meta {
  margin-bottom: 1.25rem;
  color: #999;
}

article.container img {
  max-width: 50%;
  float: right;
  margin: 5px 0 10px 10px;
}

article.container img.wide {
  max-width: 100%;
  width: 100%;
  margin-bottom: 20px;
}

article.container img.small {
  max-width: 50%;
  width: 50%;
  margin: 0 auto 20px auto;
  float: none;
}

/*
 * Footer
 */
.blog-footer {
  padding: 2.5rem 0;
  color: #999;
  text-align: center;
  background-color: black;
  margin: 0 !important;
}
.blog-footer p:last-child {
  margin-bottom: 0;
}


.love{
  background-color: #f9f9f9;
  margin: 0;
	font-size: 12px;
	padding: 1em;
  text-align: center;
  font-family: 'Rubik', sans-serif;
}

article.container .article {
  background: white;
  padding: 150px 20px 100px 20px;
}

.no-gutters {
  margin-right: 0;
  margin-left: 0;
  padding-right: 0;
  padding-left: 0;
}

.no-gutters > .col,
.no-gutters > [class*="col-"] {
  padding-right: 0;
  padding-left: 0;
}

.jumbotron {
  min-height: 500px;
  max-height: 600px;
  border-radius: 0;
  margin-bottom: -350px;
}

.container-fluid.main {
  background: #EBE7E1;
  background-image: url('/assets/images/lines-top.png');
  background-repeat: no-repeat;
  padding-bottom: 100px;
}

.nav-scroller {
  background: white;
}

header.container h1 {
  margin: 150px 0 40px 0;
}
#egoic-icon {
  display: block;
  user-select: none;
  margin: 0 auto -100px auto;
  width: 140px;
  z-index: 200;
}

#egoic-icon-overview {
  display: block;
  user-select: none;
  margin: 0 auto 5px auto;
  width: 140px;
  z-index: 200;
}

.container.list-post {
  background: white;
  margin-bottom: 20px;
}

.container.list-post h3,
.container.list-post h5 {
  margin-top: 10px;
}

.container.list-post .col-md-4 img {
  margin-top: 30px;
}

.card {
  border-radius: 0;
}

p {
  clear: both;
}

blockquote {
  display: block;
  float: left;
  padding-top: 15px;
  padding-bottom: 5px;
  font-family: 'Secular One', sans-serif;
  font-size: .9em;
  line-height: 1.5em;
  width: 250px;
  border-top: 5px solid #e5e5e5;
  border-bottom: 5px solid #e5e5e5;
  margin-top: 10px;
  margin-left: -30px;
  margin-right: 20px;
}

@media (max-width: 768px) {
  blockquote {
    margin-left: 0;
  }
}

#disqus_thread {
  margin-top: 100px;
}

.card-body.top {
  padding-bottom: 0;
}

.card-body.bottom {
  padding-top: 0;
}

.image-container {
  margin-bottom: 1rem;
}

.jumbotron {
  position: relative;
}

.jumbotron span {
  display: block;
  padding: 10px 20px;
  top: 0;
  position: absolute;
  right: 0;
  background: white;
}
